body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    margin: 0;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.artwork-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.artwork {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    text-align: center;
}

.artwork img {
    max-width: 100%;
    height: auto;
}

.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.cart-items {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    margin-bottom: 10px;
}

.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.cart-summary {
    margin-top: 20px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}